html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.navbar-default {
    background-color: #292929;
    border-color: transparent;
}
hr.star-light:after {
    color: #fff;
    background-color: #C20E26;
}
header {
    text-align: center;
    color: #fff;
    background: #BABABA;
}
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #292929;
    background-color: #ffffff;
}
section.success {
    color: #fff;
    background: #BABABA;
}
.btn-success {
    color: #ffffff;
    background-color: #1a242f;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #BABABA;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #292929;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #02AEDC;
}
hr.star-primary {
    border-color: #292929;
}
hr.star-primary:after {
    color: #292929;
    background-color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

/*リンクhoverの色*/

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #BABABA;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #BABABA;
    background-color: transparent;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #BABABA;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    border: solid 2px #fff;
    color: #BABABA;
    background: #fff;
}